# Python

db.sqlite3
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
parts/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*


.env
.env.local
.env.*.local
.pyre/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/

